<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("WESTON INTERACTIVE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <menu class="wi-menu navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="action in app.actions"><a href="#{{ action.link }}">{{ action.text }}</a></li>
                <!--<li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Projects", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>-->
            </ul>
        </menu>
    </div>
</div>
